@model OdontoFacil.Models.Views.PatientViewModel

@{
    ViewData["Title"] = "Paciente";
}

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
    }

    h3 {
        color: #3E7353;

    }

    th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
</style>

<div>
    <h3>Pacientes do Dia</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Horário</th>
            <th>Data</th>
            <th>Paciente</th>
            <th>Idade</th>
            <th>Médico</th>
            <th>Anotações</th>
        </tr>
        </thead>
        <tbody> 
            <tr>
                <td>
                    @(Model.Appointment?.AppointmentDateTime?.ToString("HH:mm") ?? "N/A")
                </td>
                <td>
                    @* Exibe a data do agendamento, se houver *@
                    @(Model.Date?.ToString("dd/MM/yyyy") ?? "N/A")
                </td>
                <td>@Model.Name</td>
                <td>@Model.Age</td>
                <td>
                    @* Exibe o nome do dentista do agendamento, se houver *@
                    @(Model.Dentist?.User?.Name ?? "N/A")
                </td>
                <td>
                    @* Itera sobre as notas e exibe o conteúdo de cada uma *@
                    @if (Model.Note != null && Model.Note.Any())
                    {
                        foreach (var note in Model.Note)
                        {
                            <p>@note.ContentNote</p>
                        }
                    }
                    else
                    {
                        <span>Nenhuma anotação</span>
                    }
                </td>
                

            </tr>
        </tbody>    
    </table>
</div>
