@using OdontoFacil.Controllers

@{
    void RenderNavBarLink(string label, string path, string controllerName)
    {
        var currentControllerName = Context.GetRouteValue("controller")?.ToString();

        var className = controllerName.Contains(currentControllerName ?? "") ?
            "nav-bar-link selected" :
            "nav-bar-link";

        <a href="@path" class="@className">@label</a>
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OdontoFacil</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OdontoFacil.styles.css" asp-append-version="true" />
</head>

<body>
    <nav class="nav-bar">
        <div class="container">
            <ul class="navbar-nav gap-4 flex-row justify-content-center">
                <li class="nav-item">
                    @{ RenderNavBarLink("Home", "/", nameof(HomeController));}
                </li>
                <li class="nav-item">
                    @{ RenderNavBarLink("Cadastro", "/Cadastro", nameof(RegistrationController));}
                </li>
                <li class="nav-item">
                    @{ RenderNavBarLink("Login", "/Login", nameof(LoginController));}
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="background-image"></div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-inputmask/dist/jquery.inputmask.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
